<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jsonParserService" class="com.porsche.ecom.retoure.services.impl.JsonParserServiceImpl"/>

    <bean id="awsS3" class="com.porsche.ecom.retoure.aws.impl.AwsS3Impl">
        <constructor-arg type="org.springframework.core.env.Environment" ref="environment"/>
    </bean>

    <bean id="mailService" class="com.porsche.ecom.retoure.services.impl.MailServiceImpl">
        <constructor-arg ref="awsS3"/>
    </bean>

    <bean id="cellFormatter" class="com.porsche.ecom.retoure.services.impl.CellFormatterImpl"/>

    <bean id="columnInitializer" class="com.porsche.ecom.retoure.services.impl.ColumnInitializer"/>

    <bean id="excelToModelConverter"
          class="com.porsche.ecom.retoure.services.impl.ExcelToModelConverterImpl">

        <constructor-arg index="0" ref="cellFormatter"/>
        <constructor-arg index="1" ref="columnInitializer"/>
    </bean>

    <bean id="modelToXmlConverter"
          class="com.porsche.ecom.retoure.services.impl.ModelToXmlConverterImpl"/>

    <bean id="awsSNS" class="com.porsche.ecom.retoure.aws.impl.AwsSnsImpl">
        <constructor-arg type="org.springframework.core.env.Environment" ref="environment"/>
    </bean>
</beans>
